<mat-progress-bar *ngIf="progressBar" mode="indeterminate" color="accent"></mat-progress-bar>
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    
    <div class="row">
      <div class="col-md-1 offset-md-11">
          <span matBadge="{{totalRecords}}" matBadgeSize="large" class="demo-section" matBadgeColor="accent">Total Records &nbsp;</span>
      </div>
    </div>
  </mat-toolbar>